In [11]:
dataframe_en_dict = {"auto":1,"tiempo_vuelta":"1:36.60",
                     "auto":2,"tiempo_vuelta":"1:38.60",
                        "auto":3,"tiempo_vuelta":"1:39.60"}

import pandas as pd

df = pd.DataFrame(dataframe_en_dict, index=[0,1,2])
df

   auto tiempo_vuelta
0     3       1:39.60
1     3       1:39.60
2     3       1:39.60

In [12]:

def time_to_seconds(time):
    hours_in_seconds = int(time.split(":")[0]) * 3600
    minutes_in_seconds = int(time[0]) * 60
    seconds_in_seconds =  int(time.split(".")[1])
    return hours_in_seconds + minutes_in_seconds + seconds_in_seconds

df["tiempo_vuelta"] = df["tiempo_vuelta"].apply(time_to_seconds)

In [13]:
df

   auto  tiempo_vuelta
0     3           3720
1     3           3720
2     3           3720

In [55]:
#https://www.kaggle.com/datasets/aadiltajani/fia-f1-19502019-data?resource=download&select=qualifying_times_2006-2020.csv
df_form1 = pd.read_csv("qualifying_times_2006-2020.csv")

In [56]:
df_form1

,Unnamed: 0,Year,Position,Driver No.,Venue,Name,NameTag,Team,Q1,Q2,Q3,Laps
0,0,2006,1,5,bahrain,Michael Schumacher,MSC,Ferrari,1:33.310,1:32.025,1:31.431,20
1,1,2006,2,6,bahrain,Felipe Massa,MAS,Ferrari,1:33.579,1:32.014,1:31.478,20
2,2,2006,3,12,bahrain,Jenson Button,BUT,Honda,1:32.603,1:32.025,1:31.549,23
3,3,2006,4,1,bahrain,Fernando Alonso,ALO,Renault,1:32.433,1:31.215,1:31.702,20
4,4,2006,5,4,bahrain,Juan Pablo Montoya,MOY,McLaren Mercedes,1:33.233,1:31.487,1:32.164,20
...,...,...,...,...,...,...,...,...,...,...,...,...
6084,6084,2020,16,7,abu-dhabi,Kimi RÃ¤ikkÃ¶nen,RAI,Alfa Romeo Racing Ferrari,1:37.555,NaN,NaN,6
6085,6085,2020,17,20,abu-dhabi,Kevin Magnussen,MAG,Haas Ferrari,1:37.863,NaN,NaN,9
6086,6086,2020,18,63,abu-dhabi,George Russell,RUS,Williams Mercedes,1:38.045,NaN,NaN,8
6087,6087,2020,19,51,abu-dhabi,Pietro Fittipaldi,FIT,Haas Ferrari,1:38.173,NaN,NaN,9
6088,6088,2020,20,6,abu-dhabi,Nicholas Latifi,LAT,Williams Mercedes,1:38.443,NaN,NaN,7

In [61]:
df_form1.Q1

0       1:33.310
1       1:33.579
2       1:32.603
3       1:32.433
4       1:33.233
          ...
6084    1:37.555
6085    1:37.863
6086    1:38.045
6087    1:38.173
6088    1:38.443
Name: Q1, Length: 6089, dtype: object

In [62]:

def time_to_seconds2(time):
    """ funcion que convierte un string de tiempo en segundos. Se asume que el string tiene el formato HH:MM:SS
    """

    #if time is a float return 0
    if type(time) == float:
        return time
    # ------------------ normalizacion del string ------------------
    #keep only numbers and dots
    time = ''.join([i for i in time if i.isdigit() or i == '.' or i == ':'])
    # if time is empty replace by 0
    if time == '' or time == "nan":
        return 0
    # ------------------ preprocess part------------------
    # esta es la primera parte del string
    if time.find(":") == -1:
        # si no tiene dos puntos, es un string de segundos
        return float(time)
    else:
        # si tiene dos puntos, es un string de horas y minutos
        # separo la parte de horas y minutos
        time = time.split(":")
        # si tiene dos puntos, pero no tiene minutos, es un string de horas
        if len(time) == 2:
            return float(time[0]) * 3600 + float(time[1])
        # si tiene dos puntos y tiene minutos, es un string de horas, minutos y segundos
        elif len(time) == 3:
            return float(time[0]) * 3600 + float(time[1]) * 60 + float(time[2])

In [63]:
df_form1.Q1.apply(time_to_seconds2)

0       3633.310
1       3633.579
2       3632.603
3       3632.433
4       3633.233
          ...
6084    3637.555
6085    3637.863
6086    3638.045
6087    3638.173
6088    3638.443
Name: Q1, Length: 6089, dtype: float64

In [64]:
df_form1.Q2.apply(time_to_seconds2)

0       3632.025
1       3632.014
2       3632.025
3       3631.215
4       3631.487
          ...
6084         NaN
6085         NaN
6086         NaN
6087         NaN
6088         NaN
Name: Q2, Length: 6089, dtype: float64