In [2]:
import pandas as pd
import os

In [5]:
path = os.getcwd() + '/ventas_comercial/'
path

'/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/'

In [ ]:
#create a dataframe

In [6]:
import glob
import os
import pandas as pd

In [7]:
# Para listar los archivos de un directorio
os.getcwd()

'/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones'

In [8]:
path = os.getcwd() +  '/ventas_comercial/'
for file in glob.glob(path+ "/*.csv"):
    print(file)

/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/King John.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry VIII.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry VI Part 2.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/A Comedy of Errors.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry VI Part 3.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Timon of Athens.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/A Winters Tale.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry VI Part 1.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Richard III.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Hamlet.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Romeo and Juliet.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Taming of the Shrew.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Measure for measure.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Antony and Cleopatra.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/macbeth.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Julius Caesar.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Cymbeline.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Coriolanus.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/As you like it.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Richard II.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry V.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/The Tempest.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Alls well that ends well.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Much Ado about nothing.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Troilus and Cressida.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Loves Labours Lost.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Twelfth Night.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Two Gentlemen of Verona.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/King Lear.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Pericles.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Henry IV.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/A Midsummer nights dream.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Othello.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Titus Andronicus.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Merchant of Venice.csv
/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/ventas_comercial/Merry Wives of Windsor.csv

In [9]:
big_frame = pd.concat([pd.read_csv(f) for f in glob.glob(path + "/*.csv")],
                      ignore_index=True)

In [10]:
big_frame.head()

,Unnamed: 0,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,43490,43491,King John,11.0,5.5.97,KING HENRY VIII,ACT I
1,43491,43492,King John,11.0,5.5.97,KING HENRY VIII,SCENE I. KING JOHN'S palace.
2,43492,43493,King John,11.0,NaN,KING HENRY VIII,"Enter KING JOHN, QUEEN ELINOR, PEMBROKE, ESSEX..."
3,43493,43494,King John,1.0,1.1.1,KING JOHN,"Now, say, Chatillon, what would France with us?"
4,43494,43495,King John,2.0,1.1.2,CHATILLON,"Thus, after greeting, speaks the King of France"

In [11]:
big_frame.shape

(111396, 7)

In [12]:
big_frame.describe()

          Unnamed: 0       Dataline  PlayerLinenumber
count  111396.000000  111396.000000     111393.000000
mean    55697.500000   55698.500000         36.885334
std     32157.399631   32157.399631         39.985840
min         0.000000       1.000000          1.000000
25%     27848.750000   27849.750000         10.000000
50%     55697.500000   55698.500000         25.000000
75%     83546.250000   83547.250000         50.000000
max    111395.000000  111396.000000        405.000000

In [13]:
big_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111396 entries, 0 to 111395
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        111396 non-null  int64
 1   Dataline          111396 non-null  int64
 2   Play              111396 non-null  object
 3   PlayerLinenumber  111393 non-null  float64
 4   ActSceneLine      105153 non-null  object
 5   Player            111389 non-null  object
 6   PlayerLine        111396 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.9+ MB

In [14]:
big_frame.isnull().sum()

Unnamed: 0             0
Dataline               0
Play                   0
PlayerLinenumber       3
ActSceneLine        6243
Player                 7
PlayerLine             0
dtype: int64

In [15]:
big_frame.isna().sum()

Unnamed: 0             0
Dataline               0
Play                   0
PlayerLinenumber       3
ActSceneLine        6243
Player                 7
PlayerLine             0
dtype: int64

In [16]:
big_frame.isna().sum().sum()

6253

In [17]:
big_frame.isna().sum().sum() / big_frame.shape[0]

0.05613307479622249

In [18]:
big_frame.isna().sum().sum() / big_frame.shape[0] * 100

5.613307479622249

In [19]:
big_frame['Play'].value_counts()

Hamlet                      4244
Coriolanus                  3992
Cymbeline                   3958
Richard III                 3941
Antony and Cleopatra        3862
King Lear                   3766
Othello                     3762
Troilus and Cressida        3711
A Winters Tale              3489
Henry VIII                  3419
Henry V                     3395
Henry VI Part 2             3334
Romeo and Juliet            3313
Henry IV                    3205
Henry VI Part 3             3138
Alls well that ends well    3083
Measure for measure         2998
Loves Labours Lost          2986
Henry VI Part 1             2983
Richard II                  2937
Merry Wives of Windsor      2831
As you like it              2822
Taming of the Shrew         2806
Merchant of Venice          2802
Julius Caesar               2771
King John                   2766
Titus Andronicus            2726
Much Ado about nothing      2704
Timon of Athens             2662
Twelfth Night               2648
Pericles                    2641
macbeth                     2586
The Tempest                 2403
Two Gentlemen of Verona     2357
A Midsummer nights dream    2300
A Comedy of Errors          2055
Name: Play, dtype: int64

In [20]:
big_frame.PlayerLine.str.contains('[Kk]ing').sum()

2488

In [21]:
big_frame.columns

Index(['Unnamed: 0', 'Dataline', 'Play', 'PlayerLinenumber', 'ActSceneLine',
       'Player', 'PlayerLine'],
      dtype='object')

In [22]:
#Aparece o no aparece la palabra Love en una columna
big_frame.PlayerLine.str.contains('[Ll]ove')

0         False
1         False
2         False
3         False
4         False
          ...
111391    False
111392    False
111393    False
111394    False
111395    False
Name: PlayerLine, Length: 111396, dtype: bool

In [23]:
#cuantas veces aparece la palabra Love en una columna
big_frame.PlayerLine.str.count('[Ll]ove')

0         0
1         0
2         0
3         0
4         0
         ..
111391    0
111392    0
111393    0
111394    0
111395    0
Name: PlayerLine, Length: 111396, dtype: int64

In [24]:
#crear una columna con True o False para saber si aparecio la palabra Love
big_frame['Love'] = big_frame.PlayerLine.str.contains('[Ll]ove')

In [25]:
#cuantas veces aparece la palabra Love en una columna
big_frame.groupby('Play').Love.value_counts()

Play                      Love
A Comedy of Errors        False    2035
                          True       20
A Midsummer nights dream  False    2143
                          True      157
A Winters Tale            False    3443
                                   ...
Twelfth Night             True       93
Two Gentlemen of Verona   False    2159
                          True      198
macbeth                   False    2561
                          True       25
Name: Love, Length: 72, dtype: int64

In [26]:
#Quedarme solo con Love=True y ordenarlo por Play
love_df = big_frame[big_frame.Love == True]

In [27]:
love_df.groupby('Play').Love.value_counts()

Play                      Love
A Comedy of Errors        True     20
A Midsummer nights dream  True    157
A Winters Tale            True     46
Alls well that ends well  True     80
Antony and Cleopatra      True     59
As you like it            True    153
Coriolanus                True     59
Cymbeline                 True     48
Hamlet                    True     80
Henry IV                  True     37
Henry V                   True     67
Henry VI Part 1           True     27
Henry VI Part 2           True     32
Henry VI Part 3           True     50
Henry VIII                True     52
Julius Caesar             True     56
King John                 True     47
King Lear                 True     73
Loves Labours Lost        True    126
Measure for measure       True     32
Merchant of Venice        True     71
Merry Wives of Windsor    True     61
Much Ado about nothing    True    119
Othello                   True    107
Pericles                  True     35
Richard II                True     36
Richard III               True     81
Romeo and Juliet          True    161
Taming of the Shrew       True     79
The Tempest               True     23
Timon of Athens           True     51
Titus Andronicus          True     43
Troilus and Cressida      True     91
Twelfth Night             True     93
Two Gentlemen of Verona   True    198
macbeth                   True     25
Name: Love, dtype: int64

In [28]:
big_frame.groupby('Play').Love.agg(['count', 'mean'])

                          count      mean
Play
A Comedy of Errors         2055  0.009732
A Midsummer nights dream   2300  0.068261
A Winters Tale             3489  0.013184
Alls well that ends well   3083  0.025949
Antony and Cleopatra       3862  0.015277
As you like it             2822  0.054217
Coriolanus                 3992  0.014780
Cymbeline                  3958  0.012127
Hamlet                     4244  0.018850
Henry IV                   3205  0.011544
Henry V                    3395  0.019735
Henry VI Part 1            2983  0.009051
Henry VI Part 2            3334  0.009598
Henry VI Part 3            3138  0.015934
Henry VIII                 3419  0.015209
Julius Caesar              2771  0.020209
King John                  2766  0.016992
King Lear                  3766  0.019384
Loves Labours Lost         2986  0.042197
Measure for measure        2998  0.010674
Merchant of Venice         2802  0.025339
Merry Wives of Windsor     2831  0.021547
Much Ado about nothing     2704  0.044009
Othello                    3762  0.028442
Pericles                   2641  0.013253
Richard II                 2937  0.012257
Richard III                3941  0.020553
Romeo and Juliet           3313  0.048596
Taming of the Shrew        2806  0.028154
The Tempest                2403  0.009571
Timon of Athens            2662  0.019159
Titus Andronicus           2726  0.015774
Troilus and Cressida       3711  0.024522
Twelfth Night              2648  0.035121
Two Gentlemen of Verona    2357  0.084005
macbeth                    2586  0.009667

In [29]:
#ordenar agrupado por obras el promedio de veces que aparecio la palabra Love
big_frame.groupby('Play').Love.agg(['count', 'mean']).sort_values('mean', ascending=False)

                          count      mean
Play
Two Gentlemen of Verona    2357  0.084005
A Midsummer nights dream   2300  0.068261
As you like it             2822  0.054217
Romeo and Juliet           3313  0.048596
Much Ado about nothing     2704  0.044009
Loves Labours Lost         2986  0.042197
Twelfth Night              2648  0.035121
Othello                    3762  0.028442
Taming of the Shrew        2806  0.028154
Alls well that ends well   3083  0.025949
Merchant of Venice         2802  0.025339
Troilus and Cressida       3711  0.024522
Merry Wives of Windsor     2831  0.021547
Richard III                3941  0.020553
Julius Caesar              2771  0.020209
Henry V                    3395  0.019735
King Lear                  3766  0.019384
Timon of Athens            2662  0.019159
Hamlet                     4244  0.018850
King John                  2766  0.016992
Henry VI Part 3            3138  0.015934
Titus Andronicus           2726  0.015774
Antony and Cleopatra       3862  0.015277
Henry VIII                 3419  0.015209
Coriolanus                 3992  0.014780
Pericles                   2641  0.013253
A Winters Tale             3489  0.013184
Richard II                 2937  0.012257
Cymbeline                  3958  0.012127
Henry IV                   3205  0.011544
Measure for measure        2998  0.010674
A Comedy of Errors         2055  0.009732
macbeth                    2586  0.009667
Henry VI Part 2            3334  0.009598
The Tempest                2403  0.009571
Henry VI Part 1            2983  0.009051

In [30]:
love_df.groupby('Play').Love.agg(['count', 'mean']).sort_values('mean', ascending=False)

                          count  mean
Play
A Comedy of Errors           20   1.0
A Midsummer nights dream    157   1.0
Merchant of Venice           71   1.0
Merry Wives of Windsor       61   1.0
Much Ado about nothing      119   1.0
Othello                     107   1.0
Pericles                     35   1.0
Richard II                   36   1.0
Richard III                  81   1.0
Romeo and Juliet            161   1.0
Taming of the Shrew          79   1.0
The Tempest                  23   1.0
Timon of Athens              51   1.0
Titus Andronicus             43   1.0
Troilus and Cressida         91   1.0
Twelfth Night                93   1.0
Two Gentlemen of Verona     198   1.0
Measure for measure          32   1.0
Loves Labours Lost          126   1.0
King Lear                    73   1.0
Hamlet                       80   1.0
A Winters Tale               46   1.0
Alls well that ends well     80   1.0
Antony and Cleopatra         59   1.0
As you like it              153   1.0
Coriolanus                   59   1.0
Cymbeline                    48   1.0
Henry IV                     37   1.0
King John                    47   1.0
Henry V                      67   1.0
Henry VI Part 1              27   1.0
Henry VI Part 2              32   1.0
Henry VI Part 3              50   1.0
Henry VIII                   52   1.0
Julius Caesar                56   1.0
macbeth                      25   1.0

# Leer otros files

In [32]:
!ls tarea

alllines.txt               para_borrar.tsv
liquidacion_tarjetas.ipynb tarea_del_nene.csv

In [52]:
#read a text file
text_file = open("/Users/federicomoreno/PycharmProjects/UCEMA/04-transformaciones/data/alllines.txt", "r")
print(text_file.read())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [55]:
!ls data

alllines.txt       para_borrar.tsv    tarea_del_nene.csv

In [56]:
text_file = open("data/alllines.txt", "r")
#transform text file to dataframe
lines = text_file.readlines()
lines = [line.rstrip('\n') for line in lines]
lines = pd.DataFrame(lines)

lines.head()

                                                   0
0                                            "ACT I"
1                     "SCENE I. London. The palace."
2  "Enter KING HENRY, LORD JOHN OF LANCASTER, the...
3           "So shaken as we are, so wan with care,"
4       "Find we a time for frighted peace to pant,"

In [60]:
tsv_file = pd.read_csv( "data/para_borrar.tsv", sep="\t")
tsv_file

,Fecha de respuesta,id,Edad,Customer Value,Probabilidad de Recomendación,¿Por que?,Date of 1st Feedback Call,Resultado del Primer contacto,Descripción detallada del contacto,Fuiste capaz de resolver el inconveniente?,El cliente se encontró satisfecho con el resultado?
0,6/30/19 23:09,1,43,1.0,10.0,buen servicio y buena atención,NaN,NaN,NaN,NaN,NaN
1,6/30/19 22:56,2,75,1.0,10.0,"Eficiencia, amabilidad, rapidez",NaN,NaN,NaN,NaN,NaN
2,6/30/19 22:52,3,23,1.0,10.0,Todo excelente,NaN,NaN,NaN,NaN,NaN
3,6/30/19 22:33,4,71,2.0,10.0,Vienen enseguida y siempre me solucionan el pr...,NaN,NaN,NaN,NaN,NaN
4,6/30/19 22:25,5,64,2.0,9.0,"Cumplió de acuerdo a mis expectativas, horario...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
35821,1/1/19 8:48,32233,63,2.0,10.0,buen servicio,NaN,NaN,NaN,NaN,NaN
35822,1/1/19 3:40,32234,35,2.0,4.0,La falta de compromiso de parte del seguro por...,02/01/2018,No contactado,no es posible establecer contacto con la titul...,No,No
35823,1/1/19 2:04,32235,41,2.0,10.0,Buena atención y rápida solución de problemas,NaN,NaN,NaN,NaN,NaN
35824,1/1/19 1:07,32236,66,1.0,10.0,"Persona muy eficiente,responsable y educado. ,",NaN,NaN,NaN,NaN,NaN
35825,1/1/19 0:47,32237,54,1.0,7.0,Es correcto el servicio,NaN,NaN,NaN,NaN,NaN

In [61]:
df = pd.read_csv("data/tarea_del_nene.csv")
df.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0