# Tarjetas

dataset: https://docs.google.com/spreadsheets/d/1E2QvH18DyNDw1eGqU40D_KHSEfSzbipV/edit?usp=sharing&ouid=115931210603772521641&rtpof=true&sd=true

In [1]:
import pandas as pd
import numpy
#!pip install openpyxl

In [21]:
tarjetas.head()

,Unnamed: 0,PreseTaciOn_Fecha,FeCha_de_Pago,cod_clearing,desc_creaing,NRo_Liquidacion,cod_sucursal,Cod_comercio,Cod_pagadora,Cod_marca_producto,importe_concepto
0,0,2022-06-15,2022-07-01,1009,VENTAS C/DESCUENTO CONTADO,27822,716,25107406,156,VISA CREDITO,5096.00
1,1,2022-06-15,2022-07-01,1011,VENTAS C/DTO CUOTAS FINANC. OTORG.,27822,716,25107406,156,VISA CREDITO,413500.60
2,2,2022-06-15,2022-07-01,2031,ARANCEL,27822,716,25107406,156,VISA CREDITO,7534.70
3,3,2022-06-15,2022-07-01,2040,PROMO CUOTAS AHORA 12/18,27822,716,25107406,156,VISA CREDITO,18416.85
4,4,2022-06-15,2022-07-01,2800,TOTAL DEDUCCIONES,27822,716,25107406,156,VISA CREDITO,49585.43

### 1- Pasar todos los nombres de las columnas a minusculas

### 2-Cuantas sucursales únicas hay? ¿Cuáles?

### 3- Cuantas tarjetas de crédito distitas hay? ¿Cuáles?
¿Se te ocurre un nombre mejor para esa columna?

### 4- Cuants filas y columnas hay?

### 5- ¿Cuanto suma el total de importe_concepto?

### 6- ¿Cuanto dinero se cobro por mes? Cree un lineplot para gráficarlo

### 7- Cuanto dinero se cobro por sucursal?

### 8- Cuanto dinero se cobro por mes por sucursal?

### 9- Cuanto dinero se cobro por mes por sucursal y por descreaing?

### 10- Pase a columnas los valores presentes en desc_creaing y ponga los importes como valores y en el indice la fecha de pago y el codigo de comercio

### 11- Quedarse solo con tarjeta visa. Crear una columna que sume 'VENTAS C/DESCUENTO CONTADO' con
                                'VENTAS C/DTO CUOTAS FINANC. OTORG.'

### 12- Quedarse solo con la tarjeta mastercard y crear una columna que sea la suma de 'PERCEPCION IVA R.G. 2408   1,50 %' y  'PERCEPCION IVA R.G. 2408   3,00 %'

### Guardar como datasets
a- el dataset de la tarjeta visa
b- el dataset de la tarjeta mastercard
c- cuanto dinero se cobra por mes y por sucursal
d- cuanto se cobra por mes
e- crear un lineplot de cuanto se cobra por mes