# Titanic Disaster

Vamos a explorar el dataset de titanic

importa `matplotlib`, `numpy` y `pandas`

In [ ]:
%matplotlib inline
import matplotlib
import numpy as np
import pandas as pd

fijate la ubicación del archivo

In [ ]:
!ls -lh

carga el dataset

In [ ]:
titanic_df = pd.read_csv('https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Titanic_dataset.csv')

Explorá los métodos básicos (`shape`, `dtypes`, `describe()`, `info()`, `isnull().sum()`).

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.isnull().sum()

Fijate que hay missings en  `Cabin`. Elimina la columna

 [`pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [ ]:
titanic_df.drop('Cabin', axis=1, inplace=True)

## Analisis por clase


Usa `groupby()` y crea un dataframe por clase contando la cantidad de tickets vendidos por clase  (1, 2 or 3)

In [ ]:
pclass_df = titanic_df.groupby("Pclass").count()["PassengerId"].to_frame(name="count")
pclass_df

Hace un gráfico de barras

In [ ]:
pclass_df.plot(kind="bar")

analicemos **survivors**.

Armar un barchart con la frecuencia de survivals por clase

In [ ]:
titanic_df[["Pclass","Survived"]].groupby('Pclass').mean().plot(kind='bar')

### Analisis por genero

fijate la columna de Sex

❓ Use the [`pandas.Series.unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html)

In [ ]:
titanic_df['Sex'].unique()

Hace un barchart para ver quienes sobreviven más según genero

In [ ]:
titanic_df[['Survived', 'Sex']].groupby('Sex').mean().plot(kind='bar')

## Niños

crea un dataset para edad menor a 17 años

In [ ]:
children_df = titanic_df[titanic_df['Age'] <= 17]
children_df.head()

¿cuantos chicos había en el titanic?

In [ ]:
children_df.shape[0]

¿Cuantos sorevivieron?

In [ ]:
children_df['Survived'].sum()

In [ ]:
titanic_df['family_size'] = titanic_df['SibSp'] + titanic_df['Parch']
titanic_df.groupby('family_size').mean()['Survived'].plot(kind='bar');

In [ ]:
titanic_df['Title'] = titanic_df['Name'].apply(lambda x: x.split(',')[1].split('.')[0].strip())
titanic_df.groupby('Title').count()['PassengerId'].sort_values().plot(kind='bar', logy=True)

In [ ]:
titanic_df.groupby('Title').mean()['Survived'].sort_values().plot(kind='bar')