In [4]:
!ls

03_00_API.ipynb                         03_03_Operations_in_Pandas.ipynb
03_00_csv.ipynb                         data
03_01_Introducing_Pandas_Objects.ipynb  teoria.ipynb
03_02_Data_Indexing_and_Selection.ipynb

In [6]:
!ls data

alllines.txt       para_borrar.tsv    tarea_del_nene.csv
countries.csv      spam.csv           ventas_comercial

In [7]:
path_file= "data/countries.csv"

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(path_file)

In [14]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [11]:
df.shape

(227, 20)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [15]:
#prueben df.describe()
#df.dtypes

In [17]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

Reading Column

In [18]:
df["Country"]

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
222         West Bank
223    Western Sahara
224             Yemen
225            Zambia
226          Zimbabwe
Name: Country, Length: 227, dtype: object

In [19]:
type(df["Country"])

pandas.core.series.Series

In [20]:
type(df[["Country","Region"]])

pandas.core.frame.DataFrame

Select rows y columns

In [21]:
df.loc[0:5,["Country","Region"]]

           Country                               Region
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE
5          Angola   SUB-SAHARAN AFRICA

In [22]:
df["Population"]>1_000_000_000

0      False
1      False
2      False
3      False
4      False
       ...
222    False
223    False
224    False
225    False
226    False
Name: Population, Length: 227, dtype: bool

In [23]:
filter = df["Population"]>1_000_000_000

In [24]:
df[filter]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"

In [26]:
american_filter = df["Region"].str.contains("AMER")
df[american_filter]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
7,Antigua & Barbuda,LATIN AMER. & CARIB,69108,443,"156,0","34,54","-6,15","19,46",11000.0,"89,0","549,9","18,18","4,55","77,27",2,"16,93","5,37","0,038","0,22","0,743"
8,Argentina,LATIN AMER. & CARIB,39921833,2766890,"14,4","0,18","0,61","15,18",11200.0,"97,1","220,4","12,31","0,48","87,21",3,"16,73","7,55","0,095","0,358","0,547"
10,Aruba,LATIN AMER. & CARIB,71891,193,"372,5","35,49",0,"5,89",28000.0,"97,0","516,1","10,53",0,"89,47",2,"11,03","6,68","0,004","0,333","0,663"
14,"Bahamas, The",LATIN AMER. & CARIB,303770,13940,"21,8","25,41","-2,2","25,21",16700.0,"95,6","460,6","0,8","0,4","98,8",2,"17,57","9,05","0,03","0,07","0,9"
17,Barbados,LATIN AMER. & CARIB,279912,431,"649,5","22,51","-0,31","12,5",15700.0,"97,4","481,9","37,21","2,33","60,46",2,"12,71","8,67","0,06","0,16","0,78"
20,Belize,LATIN AMER. & CARIB,287730,22966,"12,5","1,68",0,"25,69",4900.0,"94,1","115,7","2,85","1,71","95,44",2,"28,84","5,72","0,142","0,152","0,612"
22,Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
24,Bolivia,LATIN AMER. & CARIB,8989046,1098580,"8,2","0,00","-1,32","53,11",2400.0,"87,2","71,9","2,67","0,19","97,14","1,5","23,3","7,53","0,128","0,352","0,52"
27,Brazil,LATIN AMER. & CARIB,188078227,8511965,"22,1","0,09","-0,03","29,61",7600.0,"86,4","225,3","6,96","0,9","92,15",2,"16,56","6,17","0,084","0,4","0,516"
28,British Virgin Is.,LATIN AMER. & CARIB,23098,153,"151,0","52,29","10,01","18,05",16000.0,"97,8","506,5",20,"6,67","73,33",2,"14,89","4,42","0,018","0,062","0,92"
36,Canada,NORTHERN AMERICA,33098932,9984670,"3,3","2,02","5,96","4,75",29800.0,"97,0","552,2","4,96","0,02","95,02",NaN,"10,78","7,8","0,022","0,294","0,684"
38,Cayman Islands,LATIN AMER. & CARIB,45436,262,"173,4","61,07","18,75","8,19",35000.0,"98,0","836,3","3,85",0,"96,15",2,"12,74","4,89","0,014","0,032","0,954"
41,Chile,LATIN AMER. & CARIB,16134219,756950,"21,3","0,85",0,"8,8",9900.0,"96,2","213,0","2,65","0,42","96,93",3,"15,23","5,81","0,06","0,493","0,447"
43,Colombia,LATIN AMER. & CARIB,43593035,1138910,"38,3","0,28","-0,31","20,97",6300.0,"92,5","176,2","2,42","1,67","95,91",2,"20,48","5,58","0,125","0,342","0,533"
48,Costa Rica,LATIN AMER. & CARIB,4075261,51100,"79,8","2,52","0,51","9,95",9100.0,"96,0","340,7","4,41","5,88","89,71",2,"18,32","4,36","0,088","0,299","0,614"
51,Cuba,LATIN AMER. & CARIB,11382820,110860,"102,7","3,37","-1,58","6,33",2900.0,"97,0","74,7","33,05","7,6","59,35",2,"11,89","7,22","0,055","0,261","0,684"
56,Dominica,LATIN AMER. & CARIB,68910,754,"91,4","19,63","-13,87","14,15",5400.0,"94,0","304,8","6,67",20,"73,33",2,"15,27","6,73","0,177","0,328","0,495"
57,Dominican Republic,LATIN AMER. & CARIB,9183984,48730,"188,5","2,64","-3,22","32,38",6000.0,"84,7","97,4","22,65","10,33","67,02",2,"23,22","5,73","0,112","0,306","0,582"
59,Ecuador,LATIN AMER. & CARIB,13547510,283560,"47,8","0,79","-8,58","23,66",3300.0,"92,5","125,6","5,85","4,93","89,22",2,"22,29","4,23","0,07","0,312","0,618"
61,El Salvador,LATIN AMER. & CARIB,6822378,21040,"324,3","1,46","-3,74","25,1",4800.0,"80,2","142,4","31,85","12,07","56,08",2,"26,61","5,78","0,099","0,302","0,599"
70,French Guiana,LATIN AMER. & CARIB,199509,91000,"2,2","0,42","6,27","12,07",8300.0,"83,0","255,6","0,14","0,05","99,81",2,"20,46","4,88","0,066","0,156","0,778"
80,Greenland,NORTHERN AMERICA,56361,2166086,"0,0","2,04","-8,37","15,82",20000.0,NaN,"448,9",0,0,100,1,"15,93","7,84",NaN,NaN,NaN
81,Grenada,LATIN AMER. & CARIB,89703,344,"260,8","35,17","-13,92","14,62",5000.0,"98,0","364,5","5,88","29,41","64,71",2,"22,08","6,88","0,054","0,18","0,766"
82,Guadeloupe,LATIN AMER. & CARIB,452776,1780,"254,4","17,19","-0,15","8,6",8000.0,"90,0","463,8","11,24","3,55","85,21",2,"15,05","6,09","0,15","0,17","0,68"
84,Guatemala,LATIN AMER. & CARIB,12293545,108890,"112,9","0,37","-1,67","35,93",4100.0,"70,6","92,1","12,54","5,03","82,43",2,"29,88","5,2","0,227","0,188","0,585"
88,Guyana,LATIN AMER. & CARIB,767245,214970,"3,6","0,21","-2,07","33,26",4000.0,"98,8","143,5","2,44","0,15","97,41",2,"18,28","8,28","0,37","0,203","0,427"
89,Haiti,LATIN AMER. & CARIB,8308504,27750,"299,4","6,38","-3,4","73,45",1600.0,"52,9","16,9","28,3","11,61","60,09",2,"36,44","12,17","0,28","0,2","0,52"
90,Honduras,LATIN AMER. & CARIB,7326496,112090,"65,4","0,73","-1,99","29,32",2600.0,"76,2","67,5","9,55","3,22","87,23",2,"28,24","5,28","0,139","0,312","0,549"
102,Jamaica,LATIN AMER. & CARIB,2758124,10991,"250,9","9,30","-4,92","12,36",3900.0,"87,9","124,0","16,07","10,16","73,77",2,"20,82","6,52","0,049","0,337","0,615"
131,Martinique,LATIN AMER. & CARIB,436131,1100,"396,5","31,82","-0,05","7,09",14400.0,"97,7","394,4","10,38","9,43","80,19",2,"13,74","6,48","0,06","0,11","0,83"
135,Mexico,LATIN AMER. & CARIB,107449525,1972550,"54,5","0,47","-4,87","20,91",9000.0,"92,2","181,6","12,99","1,31","85,7","1,5","20,69","4,74","0,038","0,259","0,702"
140,Montserrat,LATIN AMER. & CARIB,9439,102,"92,5","39,22",0,"7,35",3400.0,"97,0",NaN,20,0,80,2,"17,59","7,1",NaN,NaN,NaN
147,Netherlands Antilles,LATIN AMER. & CARIB,221736,960,"231,0","37,92","-0,41","10,03",11400.0,"96,7","365,3",10,0,90,2,"14,78","6,45","0,01","0,15","0,84"
150,Nicaragua,LATIN AMER. & CARIB,5570129,129494,"43,0","0,70","-1,22","29,11",2300.0,"67,5","39,7","15,94","1,94","82,12",2,"24,51","4,45","0,165","0,275","0,56"
158,Panama,LATIN AMER. & CARIB,3191319,78200,"40,8","3,18","-0,91","20,47",6300.0,"92,6","137,9","7,36","1,98","90,66",2,"21,74","5,36","0,068","0,156","0,776"
160,Paraguay,LATIN AMER. & CARIB,6506464,406750,"16,0","0,00","-0,08","25,63",4700.0,"94,0","49,2","7,6","0,23","92,17",2,"29,1","4,49","0,224","0,207","0,569"
161,Peru,LATIN AMER. & CARIB,28302603,1285220,"22,0","0,19","-1,05","31,94",5100.0,"90,9","79,5","2,89","0,4","96,71","1,5","20,48","6,23","0,08","0,27","0,65"
165,Puerto Rico,LATIN AMER. & CARIB,3927188,13790,"284,8","3,63","-1,46","8,24",16800.0,"94,1","283,1","3,95","5,52","90,53",2,"12,77","7,65","0,01","0,45","0,54"
172,Saint Kitts & Nevis,LATIN AMER. & CARIB,39129,261,"149,9","51,72","-7,11","14,49",8800.0,"97,0","638,9","19,44","2,78","77,78",2,"18,02","8,33","0,035","0,258","0,707"
173,Saint Lucia,LATIN AMER. & CARIB,168458,616,"273,5","25,65","-2,67","13,53",5400.0,"67,0","303,3","6,56","22,95","70,49",2,"19,68","5,08","0,07","0,2","0,73"
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,"29,0","49,59","-4,86","7,54",6900.0,"99,0","683,2","13,04",0,"86,96",NaN,"13,52","6,83",NaN,NaN,NaN
175,Saint Vincent and the Grenadines,LATIN AMER. & CARIB,117848,389,"303,0","21,59","-7,64","14,78",2900.0,"96,0","190,9","17,95","17,95","64,1",2,"16,18","5,98","0,1","0,26","0,64"
193,Suriname,LATIN AMER. & CARIB,439117,163270,"2,7","0,24","-8,81","23,57",4000.0,"93,0","184,7","0,37","0,06","99,57",2,"18,02","7,27","0,13","0,22","0,65"
204,Trinidad & Tobago,LATIN AMER. & CARIB,1065842,5128,"207,9","7,06","-10,83","24,31",9500.0,"98,6","303,5","14,62","9,16","76,22",2,"12,9","10,57","0,007","0,57","0,423"
208,Turks & Caicos Is,LATIN AMER. & CARIB,21152,430,"49,2","90,47","11,68","15,67",9600.0,"98,0","269,5","2,33",0,"97,67",2,"21,84","4,21",NaN,NaN,NaN
214,United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
215,Uruguay,LATIN AMER. & CARIB,3431932,176220,"19,5","0,37","-0,32","11,95",12800.0,"98,0","291,4","7,43","0,23","92,34",3,"13,91","9,05","0,093","0,311","0,596"
218,Venezuela,LATIN AMER. & CARIB,25730435,912050,"28,2","0,31","-0,04","22,2",4800.0,"93,4","140,1","2,95","0,92","96,13",2,"18,71","4,92","0,04","0,419","0,541"
220,Virgin Islands,LATIN AMER. & CARIB,108605,1910,"56,9","9,84","-8,94","8,03",17200.0,NaN,"652,8","11,76","2,94","85,3",2,"13,96","6,43","0,01","0,19","0,8"

### Que paises hay en europa?

In [41]:
list(df["Region"].unique())

['ASIA (EX. NEAR EAST)         ',
 'EASTERN EUROPE                     ',
 'NORTHERN AFRICA                    ',
 'OCEANIA                            ',
 'WESTERN EUROPE                     ',
 'SUB-SAHARAN AFRICA                 ',
 'LATIN AMER. & CARIB    ',
 'C.W. OF IND. STATES ',
 'NEAR EAST                          ',
 'NORTHERN AMERICA                   ',
 'BALTICS                            ']

In [44]:
lista_regiones = list(df["Region"].unique())[1:3]

In [45]:
df[df["Region"].isin(lista_regiones)]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
25,Bosnia & Herzegovina,EASTERN EUROPE,4498976,51129,"88,0","0,04","0,31","21,05",6100.0,NaN,"215,4","13,6","2,96","83,44",4,"8,77","8,27","0,142","0,308","0,55"
30,Bulgaria,EASTERN EUROPE,7385367,110910,"66,6","0,32","-4,58","20,55",7600.0,"98,6","336,3","40,02","1,92","58,06",3,"9,65","14,27","0,093","0,304","0,603"
50,Croatia,EASTERN EUROPE,4494749,56542,"79,5","10,32","1,58","6,84",10600.0,"98,5","420,4","26,09","2,27","71,65",NaN,"9,61","11,48","0,07","0,308","0,622"
53,Czech Republic,EASTERN EUROPE,10235455,78866,"129,8","0,00","0,97","3,93",15700.0,"99,9","314,3","39,8","3,05","57,15",3,"9,02","10,59","0,034","0,393","0,573"
60,Egypt,NORTHERN AFRICA,78887007,1001450,"78,8","0,24","-0,22","32,59",4000.0,"57,7","131,8","2,87","0,48","96,65",1,"22,94","5,23","0,149","0,357","0,493"
92,Hungary,EASTERN EUROPE,9981334,93030,"107,3","0,00","0,86","8,57",13900.0,"99,4","336,2","50,09","2,06","47,85",3,"9,72","13,11","0,037","0,312","0,651"
118,Libya,NORTHERN AFRICA,5900754,1759540,"3,4","0,10",0,"24,6",6400.0,"82,6","127,1","1,03","0,19","98,78",NaN,"26,49","3,48","0,076","0,499","0,425"
123,Macedonia,EASTERN EUROPE,2050554,25333,"80,9","0,00","-1,45","10,09",6700.0,NaN,"260,0","22,26","1,81","75,93",3,"12,02","8,77","0,118","0,319","0,563"
141,Morocco,NORTHERN AFRICA,33241259,446550,"74,4","0,41","-0,98","41,62",4000.0,"51,7","40,4","19,61","2,17","78,22",NaN,"21,98","5,58","0,217","0,357","0,426"
163,Poland,EASTERN EUROPE,38536869,312685,"123,3","0,16","-0,49","8,51",11100.0,"99,8","306,3","45,91","1,12","52,97",3,"9,85","9,89","0,05","0,311","0,64"
168,Romania,EASTERN EUROPE,22303552,237500,"93,9","0,09","-0,13","26,43",7000.0,"98,4","196,9","40,82","2,25","56,93",3,"10,7","11,77","0,101","0,35","0,549"
181,Serbia,EASTERN EUROPE,9396411,88361,"106,3","0,00","-1,33","12,89",2200.0,"93,0","285,8","33,35","3,2","63,45",NaN,NaN,NaN,"0,166","0,255","0,579"
185,Slovakia,EASTERN EUROPE,5439448,48845,"111,4","0,00","0,3","7,41",13300.0,NaN,"220,1","30,16","2,62","67,22",3,"10,65","9,45","0,035","0,294","0,672"
186,Slovenia,EASTERN EUROPE,2010347,20273,"99,2","0,23","1,12","4,45",19000.0,"99,7","406,1","8,6","1,49","89,91",NaN,"8,98","10,31","0,028","0,369","0,603"
205,Tunisia,NORTHERN AFRICA,10175014,163610,"62,2","0,70","-0,57","24,77",6900.0,"74,2","123,6","17,86","13,74","68,4",3,"15,52","5,13","0,132","0,318","0,55"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"

In [39]:
(df.Region == "EASTERN EUROPE").sum()

0

clean col

In [48]:
df["Region"] = df["Region"] .str.strip()

In [49]:
list(df["Region"].unique())

['ASIA (EX. NEAR EAST)',
 'EASTERN EUROPE',
 'NORTHERN AFRICA',
 'OCEANIA',
 'WESTERN EUROPE',
 'SUB-SAHARAN AFRICA',
 'LATIN AMER. & CARIB',
 'C.W. OF IND. STATES',
 'NEAR EAST',
 'NORTHERN AMERICA',
 'BALTICS']

# ~ Anti filtro

In [51]:
df[~df["Region"].isin(["WESTERN EUROPE",'EASTERN EUROPE'])]

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
6,Anguilla,LATIN AMER. & CARIB,13477,102,"132,1","59,80","10,76","21,03",8600.0,"95,0","460,0",0,0,100,2,"14,17","5,34","0,04","0,18","0,78"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [52]:
df["Country"]

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
222         West Bank
223    Western Sahara
224             Yemen
225            Zambia
226          Zimbabwe
Name: Country, Length: 227, dtype: object

## Reindexing

In [54]:
df["Country"] = df["Country"].map(str.strip)

In [55]:
df.set_index("Country", inplace=True)

In [56]:
df

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

In [57]:
df.loc["France":"Germany", ["Region","Population"]]

                               Region  Population
Country
France                 WESTERN EUROPE    60876136
French Guiana     LATIN AMER. & CARIB      199509
French Polynesia              OCEANIA      274578
Gabon              SUB-SAHARAN AFRICA     1424906
Gambia, The        SUB-SAHARAN AFRICA     1641564
Gaza Strip                  NEAR EAST     1428757
Georgia           C.W. OF IND. STATES     4661473
Germany                WESTERN EUROPE    82422299

## Sorting

In [58]:
df.sort_index(ascending=False)

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"
Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"

In [60]:
df.sort_values(by = 'GDP ($ per capita)', na_position='first')

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
East Timor,ASIA (EX. NEAR EAST),1062777,15007,"70,8","4,70",0,"47,41",500.0,"58,6",NaN,"4,71","0,67","94,62",2,"26,99","6,24","0,085","0,231","0,684"
Somalia,SUB-SAHARAN AFRICA,8863338,637657,"13,9","0,47","5,37","116,7",500.0,"37,8","11,3","1,67","0,04","98,29",1,"45,13","16,63","0,65","0,1","0,25"
Sierra Leone,SUB-SAHARAN AFRICA,6005250,71740,"83,7","0,56",0,"143,64",500.0,"31,4","4,0","6,98","0,89","92,13",2,"45,76","23,03","0,49","0,31","0,21"
Burundi,SUB-SAHARAN AFRICA,8090068,27830,"290,7","0,00","-0,06","69,29",600.0,"51,6","3,4","35,05","14,02","50,93",2,"42,22","13,46","0,463","0,203","0,334"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Cayman Islands,LATIN AMER. & CARIB,45436,262,"173,4","61,07","18,75","8,19",35000.0,"98,0","836,3","3,85",0,"96,15",2,"12,74","4,89","0,014","0,032","0,954"
Bermuda,NORTHERN AMERICA,65773,53,"1241,0","194,34","2,49","8,53",36000.0,"98,0","851,4",20,0,80,2,"11,4","7,74","0,01","0,1","0,89"
United States,NORTHERN AMERICA,298444215,9631420,"31,0","0,21","3,41","6,5",37800.0,"97,0","898,0","19,13","0,22","80,65",3,"14,14","8,26","0,01","0,204","0,787"
Norway,WESTERN EUROPE,4610820,323802,"14,2","7,77","1,74","3,7",37800.0,"100,0","461,7","2,87",0,"97,13",3,"11,46","9,4","0,021","0,415","0,564"
Luxembourg,WESTERN EUROPE,474413,2586,"183,5","0,00","8,97","4,81",55100.0,"100,0","515,4","23,28","0,4","76,32",NaN,"11,94","8,41","0,01","0,13","0,86"

## Pandas grouping
* 1- Split into groups by keys
* 2- Apply: aggregate function (sum,mean)
* 3- Combine: previous are merged

In [61]:
regions = df.groupby("Region")

In [63]:
df.columns

Index(['Region', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)',
       'Coastline (coast/area ratio)', 'Net migration',
       'Infant mortality (per 1000 births)', 'GDP ($ per capita)',
       'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)',
       'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture',
       'Industry', 'Service'],
      dtype='object')

In [65]:
regions[["Population", "Area (sq. mi.)"]].sum()

                      Population  Area (sq. mi.)
Region
ASIA (EX. NEAR EAST)  3687982236        23096712
BALTICS                  7184974          175015
C.W. OF IND. STATES    280081548        22100843
EASTERN EUROPE         119914717         1152222
LATIN AMER. & CARIB    561824599        20544084
NEAR EAST              195068377         4355586
NORTHERN AFRICA        161407133         6018890
NORTHERN AMERICA       331672307        21782471
OCEANIA                 33131662         8519812
SUB-SAHARAN AFRICA     749437000        24341406
WESTERN EUROPE         396339998         3710478

In [69]:
regions[["Population", "Area (sq. mi.)"]].sum().sort_values(by = 'Population', ascending=False)

                      Population  Area (sq. mi.)
Region
ASIA (EX. NEAR EAST)  3687982236        23096712
SUB-SAHARAN AFRICA     749437000        24341406
LATIN AMER. & CARIB    561824599        20544084
WESTERN EUROPE         396339998         3710478
NORTHERN AMERICA       331672307        21782471
C.W. OF IND. STATES    280081548        22100843
NEAR EAST              195068377         4355586
NORTHERN AFRICA        161407133         6018890
EASTERN EUROPE         119914717         1152222
OCEANIA                 33131662         8519812
BALTICS                  7184974          175015