In [1]:
import pandas as pd
import seaborn as sns

In [2]:
titanic = sns.load_dataset("titanic") #seaborn tiene datasets, recuerden, noes necesario descargarlo, los trae via API
titanic.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [3]:
import statsmodels.formula.api as smf

In [4]:
model1 = smf.logit(formula='survived ~ 1', data=titanic).fit();
model1.params

Optimization terminated successfully.
         Current function value: 0.665912
         Iterations 4

Intercept   -0.473288
dtype: float64

In [5]:
cross_tab = pd.DataFrame({
    'count': titanic['survived'].value_counts(),
    'percentage': titanic['survived'].value_counts(normalize=True)
    })

round(cross_tab,2)

   count  percentage
0    549        0.62
1    342        0.38

In [6]:
model3 = smf.logit(formula='survived ~ fare', data=titanic).fit()
model3.params

Optimization terminated successfully.
         Current function value: 0.627143
         Iterations 6

Intercept   -0.941330
fare         0.015197
dtype: float64

¿Cómo interpretar el coeficiente de tarifa?
Aumentar la tarifa en 1 dólar aumenta las probabilidades logarítmicas de sobrevivir en 0,015

Tomando la exponencial:
Exp(0.015)=1.01

Por cada dólar adicional gastado en la tarifa, las probabilidades de sobrevivir aumentan en un 1%

In [7]:
model3 = smf.logit(formula='survived ~ fare', data=titanic).fit()
model3.params

Optimization terminated successfully.
         Current function value: 0.627143
         Iterations 6

Intercept   -0.941330
fare         0.015197
dtype: float64

¿Cómo interpretar el intercepto?
El log-odds de sobrevivir para un pasajero que no pagó nada es -0.94

In [8]:
model2 = smf.logit(formula='survived ~ C(pclass)', data=titanic).fit()
model2.params

Optimization terminated successfully.
         Current function value: 0.607805
         Iterations 5

Intercept         0.530628
C(pclass)[T.2]   -0.639431
C(pclass)[T.3]   -1.670399
dtype: float64

0.53 es el log-odds de sobrevivir para un pasajero que estaba en la primera clase

-0,63 es la disminución en las probabilidades logarítmicas de supervivencia de un pasajero de 2ª clase, en relación con un pasajero de 1ª clase.

In [9]:
model2 = smf.logit(formula='survived ~ fare + C(sex) + age', data=titanic).fit()
model2.params

Optimization terminated successfully.
         Current function value: 0.501450
         Iterations 6

Intercept         0.934841
C(sex)[T.male]   -2.347599
fare              0.012773
age              -0.010570
dtype: float64

## Evaluar Performance

In [10]:
model4 = smf.logit(formula='survived ~ fare + C(sex) + age', data=titanic).fit()
model4.summary()

Optimization terminated successfully.
         Current function value: 0.501450
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      710
Method:                           MLE   Df Model:                            3
Date:                Mon, 17 Oct 2022   Pseudo R-squ.:                  0.2576
Time:                        08:52:42   Log-Likelihood:                -358.04
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 1.419e-53
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.9348      0.239      3.910      0.000       0.466       1.403
C(sex)[T.male]    -2.3476      0.190    -12.359      0.000      -2.720      -1.975
fare               0.0128      0.003      4.738      0.000       0.007       0.018
age               -0.0106      0.006     -1.627      0.104      -0.023       0.002
==================================================================================
"""

In [11]:
model4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      710
Method:                           MLE   Df Model:                            3
Date:                Mon, 17 Oct 2022   Pseudo R-squ.:                  0.2576
Time:                        08:52:50   Log-Likelihood:                -358.04
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 1.419e-53
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.9348      0.239      3.910      0.000       0.466       1.403
C(sex)[T.male]    -2.3476      0.190    -12.359      0.000      -2.720      -1.975
fare               0.0128      0.003      4.738      0.000       0.007       0.018
age               -0.0106      0.006     -1.627      0.104      -0.023       0.002
==================================================================================
"""

# Tarea

Regresion Logistica Olist: Descubrir las razones por las cuales un pedido es una estrealla o cinco estrellas